<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>0928</display-name>
  <servlet>
    <servlet-name>myfirst</servlet-name>
    <servlet-class>com.demo1.MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myfirst</servlet-name>
    <url-pattern>/servlet/zhangran</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoguo</servlet-name>
    <servlet-class>com.demo1.MySecondeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoguo</servlet-name>
    <url-pattern>/servlet/yuandong</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>xiaoguo</servlet-name>
    <url-pattern>/servlet/xiaoguo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>xiaoguo</servlet-name>
    <url-pattern>/yuandong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dby</servlet-name>
    <servlet-class>com.demo1.MyThirdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dby</servlet-name>
    <url-pattern>/suibianxie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>life</servlet-name>
    <servlet-class>com.demo2.ServletLife</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>life</servlet-name>
    <url-pattern>/servlets/life</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>life2</servlet-name>
    <servlet-class>com.demo2.Servlet2</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>life2</servlet-name>
    <url-pattern>/servlets/life2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xy</servlet-name>
    <servlet-class>com.demo3.ResponseServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>xy</servlet-name>
    <url-pattern>/servlets/xy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>qq</servlet-name>
    <servlet-class>com.demo3.RequstServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>qq</servlet-name>
    <url-pattern>/servlets/request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>com.demo4.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>com.demo4.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>page1.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>test.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlets/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>